.min {
  background-color: #007AFF;
  height: 60px;
  color: white;
  border-radius: 3px;
  font-size: 2em;
  font-weight: bold;
  box-shadow: 0 8px 6px -6px black;
}

.timer-part {
  padding: 2px;
}

.card {
  border: 1px solid #E1E1E1;
  border-radius: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 10px;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */


}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }





