<div class="row">

  <div *ngIf="post" class="col-md-8">
    <h2>{{ post.title }}</h2>
    <br>
    <img src={{post.imageUrl}} width="300px">
    <br><br>
    <p>{{post.description}}</p>
    <small>Start price was {{ post.startPrice }}$</small>
  </div>


  <div class="col-md-4">

    <div id="countdown-timer">
      <div class="row">
        <div class="col-md-3 timer-part">
          <div class="min">{{days}}</div>
        </div>
        <div class="col-md-3 timer-part">
          <div class="min">{{hours}}</div>
        </div>
        <div class="col-md-3 timer-part">
          <div class="min">{{minutes}}</div>
        </div>
        <div class="col-md-3 timer-part">
          <div class="min">{{seconds}}</div>
        </div>

        <div class="row">
          <div class="col-md-3 timer-part">
            <div class="text-center">days</div>
          </div>
          <div class="col-md-3 timer-part">
            <div>hours</div>
          </div>
          <div class="col-md-3 timer-part">
            <div>minutes</div>
          </div>
          <div class="col-md-3 timer-part">
            <div>seconds</div>
          </div>
        </div>
      </div>
    </div>

    <span style="display: none">{{countDown|async}}</span>
    <app-bidding *ngIf='post' [parentPost]="post"></app-bidding>


  </div>


</div>




