<div class="row">

  <div *ngIf="post" class="col-md-8">
    <h2>{{ post.title }}</h2>
    <br>
    <img src={{post.imageUrl}} width="300px">
    <br><br>
    <p>{{post.description}}</p>
    <small>Start price was {{ post.startPrice }}$</small>
  </div>

    <div id="countdown-timer">

    <table>
      <tr>
        <th><span class="timer-part">{{days}}</span></th>
        <th><span class="timer-part">{{hours}}</span></th>
        <th><span class="timer-part">{{minutes}}</span></th>
        <th><span class="timer-part">{{seconds}}</span></th>
      </tr>
      <tr>
        <th>days</th>
        <th>hours</th>
        <th>minutes</th>
        <th>seconds</th>
      </tr>
    </table>
    </div>

    <span style="display: none">{{countDown|async}}</span>

    <div class="col-md-4">
      <app-bidding *ngIf='post' [parentPost]="post"></app-bidding>
    </div>

  </div>


