<div class="row">


  <div *ngIf="post" class="col-md-7 card">
    <h2>{{ post.title }}</h2>
    <br>
    <div>


      <div class="carousel slide" id="myCarousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item" data-slide-number="0">
            <img src={{post.imageUrl}}></div>

          <div class="item" data-slide-number="1">
            <img src={{post.imageUrl1}}></div>

          <div class="item" data-slide-number="2">
            <img src={{post.imageUrl2}}></div>


        </div><!-- Carousel nav -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
      <div class="row hidden-xs" id="slider-thumbs">
        <!-- Bottom switcher of slider -->
        <ul class="hide-bullets" style="list-style-type: none;">
          <li class="col-sm-4">
            <a class="thumbnail" id="carousel-selector-0"><img src={{post.imageUrl}}></a>
          </li>

          <li class="col-sm-4">
            <a class="thumbnail" id="carousel-selector-1"><img src={{post.imageUrl1}}></a>
          </li>

          <li class="col-sm-4">
            <a class="thumbnail" id="carousel-selector-2"><img src={{post.imageUrl2}}></a>
          </li>

        </ul>
      </div>
    </div>
    <!--   <img src={{post.imageUrl}} width="300px">--->
       <br><br>
       <p style="font-size: 20px; text-align: justify; padding: 20px;">{{post.description}}</p>
       <small style="color: #007AFF; font-size: 17px;">Start price was {{ post.startPrice }}$</small>
        <br><br>

     <h2 style="color: #007AFF">Donations for
     </h2>
    <p style="font-size: 20px; text-align: justify; padding: 20px;">{{post.goal}}</p>
  </div>


     <div class="col-md-offset-1 col-md-4">

       <div class="row card" *ngIf="timerOver">
         <h2>Winner is</h2>
         <div>
           <img class="img-circle img-responsive" src={{winnerBid.photoURL}} width="80px" height="50px"
                style="margin: 0 auto">
           <br>
           <span style="font-size: 3em">{{winnerBid.displayName}}</span>
         </div>
         <h4>price offer {{winnerBid.price}}</h4>
       </div>
       <div>
         <div id="countdown-timer" *ngIf="canBid" class="row card">
           <h2 style="color: darkslategrey">COUNTDOWN</h2>
           <div class="row">
             <!--<div class="col-md-2"></div>-->
    <div class="col-xs-offset-2 col-xs-2 col-md-offset-2 col-md-2 timer-part">
            <div class="min"><span style="line-height: 60px;">{{days}}</span></div>
          </div>
          <div class="col-xs-2 col-md-2 timer-part">
            <div class="min"><span style="line-height: 60px;">{{hours}}</span></div>
          </div>
          <div class="col-xs-2  col-md-2 timer-part">
            <div class="min"><span style="line-height: 60px;">{{minutes}}</span></div>
          </div>
          <div class="col-xs-2  col-md-2 timer-part">
            <div class="min"><span style="line-height: 60px;">{{seconds}}</span></div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-offset-2 col-xs-2 col-md-offset-2 col-md-2 timer-part">
            <small style="font-weight: bold">days</small>
          </div>
          <div class="col-xs-2 col-md-2 timer-part">
            <small style="font-weight: bold">hours</small>
          </div>
          <div class="col-xs-2 col-md-2 timer-part">
            <small style="font-weight: bold">minutes</small>
          </div>
          <div class="col-xs-2 col-md-2 timer-part">
            <small style="font-weight: bold">seconds</small>
          </div>
        </div>

      </div>

      <span style="display: none">{{countDown|async}}</span>

      <br>


      <app-bidding *ngIf='post' [parentPost]="post" [hidden]="!canBid" [showWinner]="canBid"
                   [timeOver]="timerOver"></app-bidding>


    </div>


  </div>
</div>



