<form [formGroup]="postForm" (ngSubmit)="onSubmit()" novalidate>

  <div class="row">
    <button class="btn btn-link" (click)="back()"><span class="fa fa-chevron-left"></span> Back</button>
  </div>

  <br>

  <div class="form-group">
    <label class="center-block">Title:
      <input class="form-control" formControlName="title" required>
    </label>
  </div>

  <div class="form-group">
    <label class="center-block">Description:
      <input class="form-control" formControlName="description" required minlength="3" maxlength="20">
    </label>
  </div>

  <!--&lt;!&ndash;First name validation; firstName is from the get firstName method in the component&ndash;&gt;-->
  <!--<div *ngIf="title.invalid && (title.dirty || title.touched)"-->
       <!--class="alert alert-danger">-->

    <!--<div *ngIf="title.errors.required">-->
      <!--Title is required.-->
    <!--</div>-->
    <!--<div *ngIf="title.errors.minlength">-->
      <!--Title must be at least 3 characters long.-->
    <!--</div>-->
  <!--</div>-->

  <div class="form-group">
    <label class="center-block">Start Price:
      <input class="form-control" formControlName="startPrice" required maxlength="20">
    </label>
  </div>

  <!--&lt;!&ndash;Last name validation; lastName is from the get lastName method in the component&ndash;&gt;-->
  <!--<div *ngIf="startPrice.invalid && (startPrice.dirty || startPrice.touched)"-->
       <!--class="alert alert-danger">-->

    <!--<div *ngIf="startPrice.errors.required">-->
      <!--Start rice is required.-->
    <!--</div>-->
    <!--<div *ngIf="startPrice.errors.maxlength">-->
      <!--Start price must be at up to 20 digits long.-->
    <!--</div>-->
  <!--</div>-->

  <!--<br><br>-->

  <div class="row">
    <button (click)="onSave()"
            [disabled]="postForm.pristine" class="col-md-4 col-md-offset-1 btn btn-success">Add
    </button>
    <button type="reset" (click)="revertForm()"
            class="col-md-4 col-md-offset-2 btn btn-danger">Clean
    </button>
  </div>

</form>
