<!--TODO: Implement the following color somewhere in the theme-->
<div class="container-fluid text-center" style="background-color: #007AFF; margin-top: 85px">
  <h2>Start bidding for a better future!</h2>
</div>


<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-background" role="navigation">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle navbar-background" data-toggle="collapse"
              data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top" style="color: #007AFF" >SellEbrity</a>
      <!--<a class="navbar-brand page-scroll" href="#page-top" style="color: #E3EEEB">Brand Name</a>-->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a class="page-scroll" href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll navbar-text-color" href="#trending">Trending</a>
        </li>
        <li>
          <a class="page-scroll navbar-text-color" href="#upcoming">Upcoming</a>
        </li>
        <li>
          <a class="page-scroll navbar-text-color" routerLink="/post/create"><i class="fa fa-plus"></i> New Post</a>
        </li>
        <li>
          <div class="container" style="width: 400px; padding-top: 10px;">
            <div class="row">
              <div class="col-xs-4 col-xs-offset-2">
                <div class="input-group">
                  <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      <span id="search_concept">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#contains">Orfans</a></li>
                      <li><a href="#its_equal">Charities</a></li>
                      <li><a href="#greather_than">Homeless</a></li>
                      <li><a href="#less_than">Disability</a></li>
                      <li class="divider"></li>
                      <li><a href="#all">Anything</a></li>
                    </ul>
                  </div>
                  <input type="hidden" name="search_param" value="all" id="search_param">
                  <input type="text" class="form-control" name="x" placeholder="Search for..." style="width: 300px;">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!--
        <li class="list-item" style="padding-left: 200px;">
          <div class="search-container">
            <form action="/action_page.php">
              <input type="text" placeholder="Search.." name="search" style="width: 200px; height: 30px;">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
        </li> --->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="pull-right">

          <!--User will be shown if user is logged in-->
          <a class="page-scroll navbar-text-color" routerLink="/profile" *ngIf="user">
            <span>
              <img src="{{user.photoURL}}" class="img-circle img-responsive" id="user-photo">
              {{user.displayName}}</span>
          </a>

          <!--Log in button will be shown if no user is logged in-->
          <a class="page-scroll" routerLink="/login" *ngIf="!user">
            <div class="btn btn-default page-scroll login-btn">
              <span class="fa fa-user">
              </span> Log in
            </div>
          </a>


        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!--Main content goes here-->
<div class="container" id="main-container">
  <div class="row">
    <div class="col-lg-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- TODO: Fill in footer -->


<section id="about" class="footer-section">
  <div class="container-fluid footer-text">
    <div class="row">
      <div class="col-md-3 col-sm-12 text-center">
        <h4 style="color: #007AFF">SellEbrity</h4>
        <br>
        <small>© 2018 Brand Name. All rights reserved</small>
      </div>
      <div class="col-md-3 col-sm-12">
        <h5>Menu</h5>
        <ul class="list-unstyled">
          <li class="list-item">
            <a routerLink="/posts/list" class="footer-text">Trending</a>
          </li>
          <li class="list-item">
            <a routerLink="/" class="footer-text">Upcoming</a>
          </li>
          <li class="list-item">
            <a href="#past" class="footer-text">Past Auctions</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-12">
        <h5>Follow</h5>
        <ul class="list-unstyled">
          <li class="list-item">
            <a href="#" class="footer-text">
              <i class="fa fa-facebook-square"></i> Facebook
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="footer-text">
              <i class="fa fa-instagram"></i> Instagram
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="footer-text">
              <i class="fa fa-twitter-square"></i> Twitter
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-12">
        <h5>Get Started</h5>
        <div routerLink="/login" class="btn btn-default" style="margin-top: 15px">
          <i class="fa fa-google"></i> Log in with Google
        </div>
      </div>
    </div>
  </div>
</section>












