@media (max-width: 767px) {
  .navbar-toggleable-sm {
    clear: both;
  }

  .pull-right {
    float: left !important;
  }
}

#user-photo {
  display: inline;
  width: 20px;
  margin: 5px;
  padding-bottom: 3px;
}
