<!--<div>-->
  <!--<h3 *ngFor="let note of notes | async">-->
    <!--{{ note | json}}-->
  <!--</h3>-->
<!--</div>-->

<!--<div>-->
  <!--<h3 *ngFor="let post of filteredResult | async">-->
    <!--{{ post | json}}-->
  <!--</h3>-->
<!--</div>-->

<!--<div>-->
  <!--<h3 *ngFor="let user of users | async">-->
    <!--{{ user | json}}-->
  <!--</h3>-->
<!--</div>-->

<!--<div>-->
  <!--Username id: <input #user_id type="text"><br>-->
  <!--<button (click)="onBtnClick(user_id.value)">Check</button>-->
<!--</div>-->

<!--TODO tabs-->
<!--<ul class="list-inline">-->
  <!--<li class="list-inline-item">Trending</li>-->
  <!--<li class="list-inline-item">Future</li>-->
  <!--<li class="list-inline-item"></li>-->
<!--</ul>-->

<div class="container">
  <router-outlet></router-outlet>
</div>





<!--<br>-->
<!--<div class="row">-->
  <!--<router-outlet class="col-md-10"></router-outlet>-->
<!--</div>-->

