<ul class="list-unstyled">
  <li *ngFor="let post of posts" class="list-group-item list-group-item-action"
      [routerLink]="['/post/details', post.id]">
    <div class="row">
      <div class="col-md-2">
        <img src={{post.imageUrl}} width="100px" height="100">
      </div>
      <div class="col-md-10">
        <h2>{{ post.title }}</h2>
        <small>xxx bids</small>
      </div>
    </div>
  </li>
</ul>

<button (click)="start()">Start</button>
<button (click)="stop()">Stop</button>
<div class="seconds">{{ seconds() }}</div>
<app-countdown-timer></app-countdown-timer>

