<div>

  <div class="row card" *ngIf="!hidden && !showBiddingInput">
    <h5 style="color: darkslategrey">Place your bid before the time is over</h5>
    <br>
    <div class="col-xs-12 col-sm-6">
      <div id="bid-input" class="input-group">
        <span style="background-color: #007AFF; font-weight: bold; color: white" class="input-group-addon">MKD</span>
        <input [(ngModel)]="newBidEntry" type="text" class="form-control">
        <span style="background-color: #007AFF; font-weight: bold; color: white" class="input-group-addon">.00</span>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <button id="bid-btn" (click)="bidEntry()" class="btn btn-block" style="background-color: #007AFF; font-weight: bold; color: white">Bid</button>
    </div>

    <br><br>
  </div>

  <div class="row card" style="padding: 50px;" *ngIf="hidden && !showWinner && !timeOver">
    <h2 style="color: darkslategrey">Waiting for winner...</h2>
  </div>

  <br>

  <div class="row card">
    <h3 style="color: darkslategrey">Biddings</h3>
    <div style="overflow-y: scroll; height:300px; width: 100%;">
      <table class="table table-striped">
        <thead>
        <tr>
          <th colspan="2" class="col-md-8">User</th>
          <th class="col-md-3">Bid</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bid of bids">
          <td class="col-md-1">
            <img src="{{bid.photoURL}}" class="img-circle"
                 style="width: 40px; height: 40px;"/>
          </td>
          <td class="col-md-8" style="vertical-align: middle;">
            <a>{{ bid.displayName }}</a>
          </td>
          <td class="col-md-3" align="left" style="vertical-align: middle">{{ bid.price }} MKD</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--<table class="table table-striped">-->
    <!--<thead>-->
    <!--<tr>-->
      <!--<th>User</th>-->
      <!--<th>Bid</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->

    <!--<tr *ngFor="let bid of bids">-->
      <!--<td><img src="{{bid.photoURL}}" class="img-circle img-responsive"-->
               <!--style="width: 20px; height: 20px; display: inline; float:left;"/>-->
        <!--<a>{{ bid.displayName }}</a>-->
      <!--</td>-->
      <!--<td>{{ bid.price }}$</td>-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->

  <!--
    <h2>Contextual Classes</h2>
    <p>Contextual classes can be used to color table rows or table cells. The classes that can be used are: .active, .success, .info, .warning, and .danger.</p>
    <table class="table">
      <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Bid</th>
      </tr>
      </thead>
      <tbody>
      <tr class="success" *ngFor = "let bid of bids | async">
        <td>{{bid.user | json }}</td>
        <td>{{bid.post | json }}</td>
        <td>john@example.com</td>
        <td>100$</td>
      </tr>
--->
  <!--
  <tr>
    <td>Default</td>
    <td>Defaultson</td>
    <td>def@somemail.com</td>
    <td>100$</td>
  </tr>
  <tr class="success">
    <td>Success</td>
    <td>Doe</td>
    <td>john@example.com</td>
    <td>100$</td>
  </tr>
  <tr class="danger">
    <td>Danger</td>
    <td>Moe</td>
    <td>mary@example.com</td>
    <td>100$</td>
  </tr>
  <tr class="info">
    <td>Info</td>
    <td>Dooley</td>
    <td>july@example.com</td>
    <td>100$</td>
  </tr>
  <tr class="warning">
    <td>Warning</td>
    <td>Refs</td>
    <td>bo@example.com</td>
    <td>100$</td>
  </tr>
  <tr class="active">
    <td>Active</td>
    <td>Activeson</td>
    <td>act@example.com</td>
    <td>100$</td>
  </tr>
  </tbody>
</table>-->
</div>


