#profileDiv{
  border: 0.5px solid gray;
  padding: 40px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}


/*#profileDiv:hover{*/
  /*background-color: #E3EEEB;*/
/*}*/
