<div *ngIf="auth.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>


<!--&lt;!&ndash; User NOT logged in &ndash;&gt;-->
<!--<ng-template #guest>-->
  <!--<h3>Hello, GUEST</h3>-->
  <!--<p>Login to get started...</p>-->

  <!--<button (click)="auth.googleLogin()">-->
    <!--<i class="fa fa-google"></i> Connect Google-->
  <!--</button>-->

<!--</ng-template>-->


<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <div class="row" >
        <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4" id="profileDiv">
          <img class="img-responsive" [src]="user.photoURL" alt="Profile Photo">
            <h3>{{ user.displayName }}</h3>
          <br>
            <button class="btn btn-default" (click)="auth.signOut()">Logout</button>
        </div>
      </div>
    </div>
</ng-template>
